@use "variables";

.characters {
  margin-bottom: 150px;

  &__title {
    width: 70vw;
    margin: 0 auto;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    padding-top: 40px;
    padding-bottom: 100px;
    color: variables.$textColorSecondary;
    border-top: variables.$colorBtn 3px solid;
  }

  .container {
    margin: 0 auto;
    width: 70vw;
    max-height: 70vh;
    min-width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .border {
    height: 230px;
    width: 210px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;

    &:hover {
      border: 1px solid variables.$textWhiteColor;
    }

    .text-min {
      margin-top: 125px;
    }
  }

  h2,
  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: variables.$textWhiteColor;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 100px;
    padding: 5px 1px;
    background-color: transparent;
  }
}
.card {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px variables.$bgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  filter: grayscale(70%);
}
.card0 {
  background: url("/src/images/lidia_poet.png") center center no-repeat;
  background-size: 250px;

  &:hover {
    background: url("/src/images/lidia_poet.png") left center no-repeat;
    background-size: 350px;
    filter: grayscale(0);

    h2,
    p {
      opacity: 1;
    }
  }
}
.card1 {
  background: url("/src/images/jacopo_barberis.png") center center no-repeat;
  background-size: 250px;

  &:hover {
    background: url("/src/images/jacopo_barberis.png") left center no-repeat;
    background-size: 350px;
    filter: grayscale(0);

    h2,
    p {
      opacity: 1;
    }
  }
}
.card2 {
  background: url("/src/images/andrea_caracciolo.png") center center no-repeat;
  background-size: 250px;

  &:hover {
    background: url("/src/images/andrea_caracciolo.png") left center no-repeat;
    background-size: 350px;
    filter: grayscale(0);

    h2,
    p {
      opacity: 1;
    }
  }
}

.card3 {
  background: url("/src/images/enrico_poet.png") center center no-repeat;
  background-size: 250px;

  &:hover {
    background: url("/src/images/enrico_poet.png") left center no-repeat;
    background-size: 350px;
    filter: grayscale(0);

    h2,
    p {
      opacity: 1;
    }
  }
}

.card4 {
  background: url("/src/images/marianna_poet.png") center center no-repeat;
  background-size: 250px;

  &:hover {
    background: url("/src/images/marianna_poet.png") left center no-repeat;
    background-size: 350px;
    filter: grayscale(0);

    h2,
    p {
      opacity: 1;
    }
  }
}

.card5 {
  background: url("/src/images/teresa_barberis.png") center center no-repeat;
  background-size: 250px;

  &:hover {
    background: url("/src/images/teresa_barberis.png") left center no-repeat;
    background-size: 350px;
    filter: grayscale(0);

    h2,
    p {
      opacity: 1;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) and (max-width: 2000px) {
  .characters {
    .border {
      height: 220px;
      width: 200px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .characters {
    margin-bottom: 80px;

    &__title {
      font-size: 1.3em;
    }

    .border {
      height: 185px;
      width: 166px;

      .text-min {
        margin-top: 105px;
      }
    }

    h2,
    p {
      margin: 15px;
    }

    h2 {
      font-size: 1.1em;
    }

    p {
      font-size: 1em;
      margin-top: 85px;
    }
  }
  .card {
    height: 200px;
    width: 1100%80px;
  }
  .card0 {
    background-size: 220px;

    &:hover {
      background-size: 280px;
    }
  }
  .card1 {
    background-size: 220px;

    &:hover {
      background-size: 280px;
    }
  }
  .card2 {
    background-size: 220px;

    &:hover {
      background-size: 280px;
    }
  }

  .card3 {
    background-size: 220px;

    &:hover {
      background-size: 280px;
    }
  }

  .card4 {
    background-size: 220px;

    &:hover {
      background-size: 280px;
    }
  }

  .card5 {
    background-size: 220px;

    &:hover {
      background-size: 280px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .characters {
    margin-bottom: 80px;

    &__title {
      font-size: 1.3em;
    }

    .border {
      height: 165px;
      width: 135px;

      .text-min {
        margin-top: 65px;
      }
    }

    h2,
    p {
      margin: 15px;
    }

    h2 {
      font-size: 1.1em;
    }

    p {
      font-size: 1em;
      margin-top: 60px;
    }
  }
  .card {
    height: 180px;
    width: 100%;
  }
  .card0 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }
  .card1 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }
  .card2 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }

  .card3 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }

  .card4 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }

  .card5 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 428px) and (max-width: 600px) {
  .characters {
    margin-bottom: 80px;
    height: 105vh;

    &__title {
      font-size: 1em;
      padding-bottom: 50px;
    }

    .container {
      grid-template-columns: repeat(2, 40%);
      column-gap: 10%;
    }

    .border {
      height: 145px;
      width: 130px;

      .text-min {
        margin-top: 65px;
      }
    }

    h2,
    p {
      margin: 10px;
    }

    h2 {
      font-size: 1em;
    }

    p {
      font-size: 0.9em;
      margin-top: 55px;
    }
  }
  .card {
    height: 155px;
    width: 100%;
  }
}

@media only screen and (max-width: 428px) {
  .characters {
    margin-bottom: 80px;
    height: 105vh;

    &__title {
      font-size: 1em;
      padding-bottom: 50px;
    }

    .container {
      grid-template-columns: repeat(2, 40%);
      column-gap: 10%;
    }

    .border {
      height: 145px;
      width: 130px;

      .text-min {
        margin-top: 65px;
      }
    }

    h2,
    p {
      margin: 10px;
    }

    h2 {
      font-size: 1em;
    }

    p {
      font-size: 0.9em;
      margin-top: 55px;
    }
  }
  .card {
    height: 155px;
    width: 100%;
  }
  .card0 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }
  .card1 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }
  .card2 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }

  .card3 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }

  .card4 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }

  .card5 {
    background-size: 200px;

    &:hover {
      background-size: 250px;
    }
  }
}
