@use "variables";

footer {
  border-top: 2px solid variables.$textColorSecondary;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  p {
    color: variables.$textColorSecondary;
    font-family: "Special Elite", cursive;
    text-align: center;
    padding: 40px 0;
  }

  img {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 600px) {
  footer {
    p {
      font-size: 10px;
    }

    img {
      width: 10px;
      height: 10px;
    }
  }
}

@media only screen and (max-width: 428px) {
  footer {
    p {
      font-size: 10px;
    }

    img {
      width: 10px;
      height: 10px;
    }
  }
}
