@use "variables";

.header {
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.5s ease;
  height: 12vh;

  @media (max-width: 1600px) {
    height: 10vh;
  }

  &__container {
    height: 100%;
    padding: 0 36px;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      padding: 0 12px 0 20px;
    }

    &__logo {
      width: 70px;
      margin: 5px;
      transition: opacity 0.5s ease;

      @media (max-width: 768px) {
        max-width: 64px;
      }
    }
  }

  &__links {
    display: flex;
    text-align: center;
    align-items: center;

    &__item {
      margin: 5px;
      transition: opacity 0.5s ease;
      padding: 10px 20px;
      height: 50px;
      border-radius: 8px;
      list-style: none;

      a {
        text-decoration: none;
        color: variables.$textColorSecondary;
        font-weight: bold;
        letter-spacing: 0.2em;

        @media (max-width: 2500px) {
          font-size: 20px;
        }

        @media (max-width: 2000px) {
          font-size: 18px;
        }

        @media (max-width: 1500px) {
          font-size: 16px;
        }

        &:hover {
          color: variables.$colorBtn;
          transition: 0.5s ease;
        }
      }
    }
  }
}
