@use "variables";

.quote-lidia {
  display: grid;
  background: variables.$bgColor;
  margin: 0;
  overflow: hidden;
  height: 60vh;
  align-items: center;

  .quote {
    justify-self: center;
    align-self: center;
    position: absolute;
    max-width: 700px;
    background-color: #b6b0b0;
    line-height: 1.5;
    text-align: center;
    padding: 1rem 0;
    margin: 0 1rem;
    box-shadow: 0px 0px 12px 4px #d5cdbacf;
    color: #444;

    &__text {
      font-size: 28px;
      padding: 1rem 0;
      margin: 0 1rem;
      max-width: 700px;
      margin: 0 40px;
      font-family: "Special Elite", cursive;

      span {
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        font-family: "Special Elite", cursive;

        &:nth-child(2) {
          animation-delay: 0.5s;
        }

        &:nth-child(3) {
          animation-delay: 1s;
        }

        &:nth-child(4) {
          animation-delay: 1.25s;
        }

        &:nth-child(5) {
          animation-delay: 1.5s;
        }

        &:nth-child(6) {
          animation-delay: 1.75s;
        }

        &:nth-child(7) {
          animation-delay: 2s;
        }

        &:nth-child(8) {
          animation-delay: 2.25s;
        }

        &:nth-child(9) {
          animation-delay: 2.5s;
        }

        &:nth-child(10) {
          animation-delay: 2.75s;
        }

        &:nth-child(11) {
          animation-delay: 3s;
        }

        &:nth-child(12) {
          animation-delay: 3.25s;
        }

        &:nth-child(13) {
          animation-delay: 3.5s;
        }
      }
    }

    &__overlay {
      position: absolute;
      top: 32px;
      left: 0;
      margin: 0 40px;
      opacity: 0.35;
      font-size: 28px;
      max-width: 700px;
      -webkit-text-stroke: 1px #17171777;
      color: transparent;
      font-family: "Special Elite", cursive;
    }

    &__author {
      margin-bottom: 1rem;
      opacity: 0;
      animation: fadeIn 1s ease-in forwards;
      animation-delay: 4s;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) and (max-width: 2000px) {
  .quote-lidia {
    height: 70vh;

    .quote {
      &__text {
        font-size: 22px;
      }

      &__overlay {
        font-size: 22px;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .quote-lidia {
    height: 70vh;

    .quote {
      max-width: 600px;

      &__text {
        font-size: 20px;
      }

      &__overlay {
        font-size: 20px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .quote-lidia {
    height: 30vh;

    .quote {
      max-width: 600px;

      &__text {
        font-size: 20px;
      }

      &__overlay {
        font-size: 20px;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .quote-lidia {
    height: 40vh;

    .quote {
      max-width: 600px;

      &__text {
        font-size: 20px;
      }

      &__overlay {
        font-size: 20px;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 428px) and (max-width: 600px) {
  .quote-lidia {
    height: 40vh;

    .quote {
      max-width: 300px;

      &__text {
        font-size: 16px;
      }

      &__overlay {
        font-size: 16px;
      }
    }

    .quote__author {
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: 428px) {
  .quote-lidia {
    height: 40vh;

    .quote {
      max-width: 300px;

      &__text {
        font-size: 16px;
      }

      &__overlay {
        font-size: 16px;
      }
    }

    .quote__author {
      margin-bottom: 0;
      font-size: 0.8em;
    }
  }
}
