@use "variables";

.sinopse {
  height: 90vh;

  &__text {
    margin: 120px auto;
    color: variables.$textColorSecondary;
    max-width: 70%;
    line-height: 1.8em;
    font-size: 1.4em;
    letter-spacing: 0.1em;

    h3 {
      margin-bottom: 36px;
      padding-top: 20px;
      border-top: variables.$colorBtn 3px solid;
    }
  }
}
