@use "variables";

.sinopse {
  height: 90vh;

  &__text {
    margin: 100px auto 0;
    color: variables.$textColorSecondary;
    max-width: 70%;
    line-height: 1.8em;
    font-size: 1.4em;
    letter-spacing: 0.1em;

    h3 {
      padding-bottom: 100px;
      padding-top: 40px;
      border-top: variables.$colorBtn 3px solid;
    }
  }
}
