$textColorPrimary: #e2dfdf;
$textColorSecondary: #bab3b3;
$textWhiteColor: #fff;
$textGrayColor: #555;
$textDarkGrayColor: #333;
$colorBtn: #6c5273;
$colorHoverBtn: #732f78;
$bgColor: #000;
$bgCardColor: #111;
