@use "variables";
@use "hero";
@use "sinopse";
@use "characters";
@use "episodes";
@use "channel";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "News Cycle", sans-serif;
}

body {
  background-color: variables.$bgColor;
  box-shadow: -15px 6px 115px 200px rgba(0, 0, 0, 1);
  overflow-x: hidden;

  .hero {
    box-shadow: inset 1px -118px 46px -5px rgba(0, 0, 0, 0.75);
  }
}
